In [2]:
import pandas as pd
import numpy as np

In [4]:
gold_dataset_addr = "./data/Gold Price.csv"
gold_dataset = pd.read_csv(gold_dataset_addr)
gold_dataset.head()

         Date  Price   Open   High    Low  Volume  Chg%
0  2025-01-06  77149  77309  77542  76545   27160  0.44
1  2025-01-03  76813  77246  78600  76613      60 -0.05
2  2025-01-02  76849  76849  76849  76849       0  0.83
3  2025-01-01  76214  76232  76302  76053      60 -0.02
4  2024-12-31  76232  75680  76970  75572    1920  0.95